<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="index-container">
        <h1>Welcome</h1>
        <p>To get started, please login into your account or create one</p>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
    </div>
</body>
</html>
