<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <form action="/login" method="post">
        <h1>Login</h1>
        <% if (message && message.length > 0) { %>
            <div class="flash-message"><%= message %></div>
        <% } %>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Login</button>
        <a href="/signup">Don't have an account? Sign Up</a>
    </form>
</body>
</html>
