<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/portfolio-activities.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kumbh Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="portfolio-activities">
      <section class="navigation-panel5">
        <header class="navigation-panel6">
          <div class="logo-wrapper1">
            <img
              class="logo-icon4"
              loading="lazy"
              alt=""
              src="/assets/Portfolio/activities/logo.svg"
            />
          </div>
          <nav class="user-interface-block">
            <nav class="home-container">
              <div class="home5">Home</div>
              <div class="portfolio5">Portfolio</div>
              <div class="trade4">Trade</div>
              <div class="leaderboard4">Leaderboard</div>
              <div class="rules4">Rules</div>
              <div class="my-investments4">My Investments</div>
            </nav>
          </nav>
          <div class="edit-profile-modal">
            <div class="search-box14">
              <img class="search-icon6" alt="" src="/assets/Portfolio/activities/search.svg" />

              <input
                class="rank-and-membership-info"
                placeholder="Search Stocks, MFs, Bonds, etc"
                type="text"
              />
            </div>
          </div>
          <div class="performance-indicator">
            <img
              class="profile-icon3"
              loading="lazy"
              alt=""
              src="/assets/Portfolio/activities/profile.svg"
            />
          </div>
        </header>
        <div class="user-settings-modal">
          <div class="tagline8">
            <div class="tagline9">#Tagline...</div>
          </div>
        </div>
        <div class="search-bar-wrapper">
          <div class="search-bar">
            <div class="search-bar-inner">
              <div class="my-space-group">
                <div class="my-space1">My Space</div>
                <div class="portfolio6">Portfolio</div>
                <div class="order-book1">Order Book</div>
                <div class="profit-loss1">Profit & Loss Statement</div>
              </div>
            </div>
            <div class="search-box-parent">
              <div class="search-box15">
                <div class="activities-messages-my-leagues-wrapper">
                  <div class="activities-messages-my-leagues1">
                    <img
                      class="profile-edit-icon1"
                      loading="lazy"
                      alt=""
                      src="/assets/Portfolio/activities/profile-edit.JPG"
                    />

                    <div class="updates-container-wrapper">
                      <div class="updates-container">
                        <h3 class="username-rank1">
                          <span>“username” </span>
                          <span class="rank1">(#rank)</span>
                        </h3>
                        <div class="joined-container">
                          <div class="joined-1">Joined ____</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="search-box16">
                  <div class="reset-your-portfolio1">Reset your portfolio</div>
                </button>
              </div>
              <div class="scorecard-parent">
                <div class="scorecard8">
                  <div class="scorecard-child1"></div>
                  <div class="scorecard-label">
                    <button class="scorecard9">
                      <div class="scorecard10"><a href="/portfolio">SCORECARD</a></div>
                    </button>
                  </div>
                  <button class="activities4">
                    <div class="activities5">ACTIVITIES</div>
                  </button>
                  <button class="messages4">
                    <div class="messages5">MESSAGES</div>
                  </button>
                  <button class="my-leagues2">
                    <div class="my-leagues3">MY LEAGUES</div>
                  </button>
                </div>
                <div class="updates">
                  <div class="frame-parent13">
                    <div class="logo-parent">
                      <img class="logo-icon5" alt="" src="/assets/Portfolio/activities/logo.svg" />

                      <div class="xyz-has-created">
                        xyz has created portfolio “abc”
                      </div>
                      <div class="days-ago-wrapper">
                        <div class="days-ago">2 days ago</div>
                      </div>
                    </div>
                    <div class="logo-group">
                      <img class="logo-icon6" alt="" src="/assets/Portfolio/activities/logo.svg" />

                      <div class="xyz-has-created1">
                        xyz has created portfolio “abc”
                      </div>
                      <div class="days-ago-container">
                        <div class="days-ago1">2 days ago</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-parent14">
                    <div class="logo-parent1">
                      <img class="logo-icon7" alt="" src="/assets/Portfolio/activities/logo.svg" />

                      <div class="xyz-has-created2">
                        xyz has created portfolio “abc”
                      </div>
                      <div class="days-ago-frame">
                        <div class="days-ago2">2 days ago</div>
                      </div>
                    </div>
                    <div class="logo-parent2">
                      <img class="logo-icon8" alt="" src="/assets/Portfolio/activities/logo.svg" />

                      <div class="xyz-has-created3">
                        xyz has created portfolio “abc”
                      </div>
                      <div class="days-ago-wrapper1">
                        <div class="days-ago3">2 days ago</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer5">
        <div class="contact-us-link">
          <div class="forum4">Forum</div>
          <div class="feedback4">Feedback</div>
          <div class="disclaimer4">Disclaimer</div>
          <div class="privacy-policy4">Privacy Policy</div>
          <div class="terms-conditions4">Terms & Conditions</div>
          <div class="about-us4">About Us</div>
          <div class="contact-us4">Contact Us</div>
          <div class="powered-by-iem3">Powered by IEM</div>
        </div>
      </footer>
    </div>
  </body>
</html>
